#body{
  margin: 0;
  padding: 0 20px 20px 20px;
  background-color: rgb(27, 0, 76);
  color: #fff;
}

#root{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  position: relative;
}

button{
  border: none;
  cursor: pointer;
}