body{
  margin: 0;
  padding: 0 20px 20px 20px;
  background-color: navy;
  color: #fff;
  font-family: "Karla", sans-serif;;
}

button{
  border: none;
  cursor: pointer;
}

.container{
  max-width: 700px;
  margin: 0 auto;
}

.show-section{
  background-color: #fff;
  color: navy;
  border-radius: 10px;
  overflow: hidden;
}

.show-img{
  width: 100%;
}

.show-info{
  padding: 30px;
}

.review-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.review-form > *{
  border-radius: 8px;
  padding: 10px;
  flex: 0 0 auto;
}

.review-comment{
  width: calc(100% - 20px);
}

.review-rating, .review-rated{
  display: flex;
  justify-content: flex-end;
  direction: rtl;
  padding: 0;
  user-select: none;
}

.review-post-btn{
  width: 75px;
}

.review-post-btn:hover{
  background-color: lightgrey;
}

.review-element{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: calc(100% - 20px);
  background-color: rgb(85, 3, 192);
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0;
}

.review-delete-btn{
  padding: 10px 20px;
  background-color: red;
  color: #fff;
}

.review-rating > label:hover{
  cursor: pointer;
}

.review-rating input{
  opacity: 0;
  width: 1px;
}

.review-rating > label:hover > i,
.review-rating > label:hover ~ label > i {
  color: gold;
}