.navbar {
  height: calc(100vh - 60px);
  position: sticky;
  flex-direction: column;
  top: 25px;
}

.navItems {
  top: 60px;
}

.navLink, .logoutBtn{
  text-align: center;
  padding: 5px 15px;
  border-radius: 12px;
}

.navLink:hover, .logoutBtn:hover{
  font-weight: bold;
}

.active{
  background-color: rgb(55, 22, 135);
}

@media (max-width: 530px) {
  .navbar {
    position: static;
    top: 0;
    flex-direction: row;
    align-items: center;
  }
  .navbar {
    height: auto;
  }
}
